{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
<h2>Edit entry from {{ entry.date_added|date:'M d, Y H:i' }}</h2>
{% endblock header %}

{% block content %}
<form action="{% url 'learning_logs:topic' topic.id %}">
    {% buttons %}
    <button name="submit" class="btn btn-warning">Back to</button>
    {% endbuttons %}
</form>

<form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    <button name="submit" class="btn btn-primary">Save changes</button>
</form>
{% endblock content %}