{% extends "learning_logs/base.html" %}

{% block header %}
<div class="jumbotron" style="background-color: #E6E6FA">
    <h1 align="center" class="display-4"><em>Track your learning</em></h1>
    <hr class="my-3">
    <p class="lead" align="center" >
        Create your own learning journal and list the topics studied.
        Each time you learn something new on a topic,
        make a note summarizing what you have learned.
    </p>
</div>
{% endblock header %}

{% block content %}

{% endblock content %}



