{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block header %}

{% endblock header %}

{% block content %}
<div class="jumbotron" style="background-color: #E6E6FA">
    <p class="lead" align="center">Enter the title</p>
    <form action="{% url 'learning_logs:new_topic' %}" method='post' class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <div align="right">
            <button name="submit" class="btn btn-primary">Add topic</button>
        </div>
        {% endbuttons %}
    </form>
</div>

{% endblock content %}