{% extends "learning_logs/base.html" %}
{% load crispy_forms_tags %}
{% block header %}

{% endblock header %}

{% block content %}
<div class="jumbotron" style="background-color: #E6E6FA">
    <h1 align="center" class="display-4"><em>{{ topic }}</em></h1>
    <hr class="my-3">
    <form action="{% url 'learning_logs:new_entry' topic.id %}" method='post'>
        {% csrf_token %}
        {{ form|crispy }}
        <div align="right">
            <form action="{% url 'learning_logs:new_topic' %}">
                <button name="submit" class="btn btn-primary">Add entry</button>
            </form>
        </div>
    </form>
</div>
{% endblock content %}