{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}
{% block header %}
{% endblock header %}

{% block content %}
<div class="jumbotron" style="background-color: #E6E6FA">
    <h1 align="center" class="display-4"><em>My topics</em></h1>
    <hr class="my-3">
    <ul>
        {% for topic in topics %}
        <li>
            <a href="{% url 'learning_logs:topic' topic.id %} ">{{ topic }}</a>
        </li>
        {% endfor %}
    </ul>
    <div align="right">
        <form action="{% url 'learning_logs:new_topic' %}">
            {% buttons %}
            <button name="submit" class="btn btn-primary">Add a new topic</button>
            {% endbuttons %}
        </form>
    </div>
</div>

{% endblock content %}