{% extends "learning_logs/base.html" %}
{% load crispy_forms_tags %}
{% block header %}
{% endblock header %}

{% block content %}
<div class="jumbotron" style="background-color: #E6E6FA">
    <p class="display-4" align="center">Sign in</p>
    <hr class="my-3">
    <form method="post" action="{% url 'users:login' %}" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <div align="right">
            <button name="submit" class="btn btn-primary">Log in</button>
        </div>
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
    </form>
</div>
{% endblock content %}